.contact-page {
    background-color: #f4f4f4;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    text-align: center;

    box-sizing: border-box;
}

.contact-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    box-sizing: border-box;
    flex-wrap: wrap; 
}

.contact-content a {
    color: #000000;
}

.contact-icon {
    font-size: 40px;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease; 
    margin: 0.5rem; 
}

.contact-icon:hover {
    transform: scale(1.125);
    color: #302d2d;
}
@media (min-width: 768px) {

    .contact-icon {
        font-size: 45px;
    }
    .contact-content{
    text-align: center;

    }
}

